In [1]:
import pandas as pd

In [65]:
df = pd.read_csv(r'movies_dataset.csv')
df.head(2)

C:\Users\belen\AppData\Local\Temp\ipykernel_8052\571377813.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'movies_dataset.csv')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [66]:
df[['revenue', 'budget']] = df[['revenue', 'budget']].fillna(0)

In [67]:
df = df.dropna(subset=['release_date'])

In [68]:
df['release_date'] = pd.to_datetime(df['release_date'], format='%Y-%m-%d', errors='coerce')
df['release_year'] = df['release_date'].dt.year.fillna(0).astype(int)

In [69]:
# Convierte las columnas 'budget' y 'revenue' a numéricas para poder crear la columna solicitada
df['budget'] = pd.to_numeric(df['budget'], errors='coerce')
df['revenue'] = pd.to_numeric(df['revenue'], errors='coerce')

#Creamos la nueva columna return
df['return'] = df['revenue'] / df['budget']
df['return'] = df['return'].fillna(0)

In [70]:
df = df.drop(['video', 'imdb_id', 'adult', 'original_title', 'vote_count', 'poster_path', 'homepage'], axis=1)

In [72]:
#Creamos la columna 'day_of_week'
# Obtener el día de la semana como un entero
day_of_week_int = df['release_date'].dt.dayofweek

# Asignar el número de día de la semana con su respectivo string
day_of_week_dict = {
    0: 'lunes',
    1: 'martes',
    2: 'miércoles',
    3: 'jueves',
    4: 'viernes',
    5: 'sábado',
    6: 'domingo'
}

# Utilizar el diccionario para obtener el string correspondiente al día de la semana
df['day_of_week'] = day_of_week_int.map(day_of_week_dict)

In [73]:
df.head(2)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,release_year,return,day_of_week
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,1995,12.451801,lunes
1,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,1995,4.043035,viernes

In [74]:
df.to_csv('dfprueba.csv', index=False)

In [75]:
df_p = pd.read_csv(r'dfprueba.csv')

C:\Users\belen\AppData\Local\Temp\ipykernel_8052\2789829423.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_p = pd.read_csv(r'dfprueba.csv')

In [4]:
#Probando 11/5
df = pd.read_csv(r'df_transformado.csv')

C:\Users\belen\AppData\Local\Temp\ipykernel_1536\2288382231.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'df_transformado.csv')

In [3]:
df_p.head(2)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,release_year,return,day_of_week
0,['Toy Story Collection'],30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,['Pixar Animation Studios'],['United States of America'],1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,1995,12.451801,lunes
1,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"['TriStar Pictures', 'Teitler Film', 'Intersco...",['United States of America'],1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,1995,4.043035,viernes

In [79]:
df_p['belongs_to_collection'][0]

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

-----------------------------------------

def peliculas_pais(pais):
    pas = pais.lower()
    cantidad = df[df['production_countries'].apply(lambda x: pais in [i.lower() for i in x])['title'].count()
    return{'pais': pais, 'cantidad': cantidad}

In [49]:
df['production_countries'].iloc[5]

"[{'iso_3166_1': 'US', 'name': 'United States of America'}]"

In [5]:
def peliculas_pais(pais):
    count = 0
    for p in df['production_countries']:
        if isinstance(p, list):
            for c in p:
                if isinstance(c, dict) and c.get('name') == pais:
                    count += 1
                    break
    return {'pais': pais, 'cantidad': count}

In [7]:
peliculas_pais('United States of America')

{'pais': 'United States of America', 'cantidad': 0}

In [55]:
import pandas as pd
import re

def extraer_datos(df, columna):
    # Función para extraer los valores de una cadena, lista o diccionario
    def extraer_valores(valor):
        if isinstance(valor, str):
            # Si es una cadena, extraer los valores con la expresión regular
            pattern = r"'name': '([^']*)'"
            coincidencias = re.findall(pattern, valor)
            return coincidencias
        elif isinstance(valor, list):
            # Si es una lista, extraer los valores de cada elemento de la lista
            valores = []
            for elemento in valor:
                if 'name' in elemento:
                    valores.append(elemento['name'])
            return valores
        elif isinstance(valor, dict):
            # Si es un diccionario, extraer los valores de la clave 'name'
            if 'name' in valor:
                return valor['name']
        return None
    
    # Aplicar la función a la columna y sobrescribir la columna
    df[columna] = df[columna].apply(extraer_valores)
    
    return df

In [81]:
df_p.head(1)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,release_year,return,day_of_week
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]",[United States of America],1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,1995,12.451801,lunes

In [80]:
solo_paises = extraer_datos(df_p, 'production_countries')
solo_paises

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,release_year,return,day_of_week
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]",[United States of America],1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,1995,12.451801,lunes
1,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",[United States of America],1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,1995,4.043035,viernes
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",[United States of America],1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,1995,0.000000,viernes
3,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,[United States of America],1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,1995,5.090760,viernes
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...",[United States of America],1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,1995,inf,viernes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45374,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[Canada, Germany, United Kingdom, United State...",1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,5.7,1991,0.000000,lunes
45375,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]",[Philippines],2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,9.0,2011,0.000000,jueves
45376,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]",[United States of America],2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,2003,0.000000,viernes
45377,NaN,0.0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]",[Russia],1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,1917,0.000000,domingo
45378,NaN,0.0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,[],[United Kingdom],2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0,2017,0.000000,viernes

In [102]:
solo_paises = extraer_datos(df_p, 'production_companies')
solo_paises

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,release_year,return,day_of_week
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,1995,12.451801,lunes
1,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,1995,4.043035,viernes
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,1995,0.000000,viernes
3,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,1995,5.090760,viernes
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,1995,inf,viernes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45374,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,"Yet another version of the classic epic, with ...",5.683753,"[Westdeutscher Rundfunk (WDR), Working Title F...","[Canada, Germany, United Kingdom, United State...",1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,5.7,1991,0.000000,lunes
45375,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,An artist struggles to finish his work while a...,0.178241,[Sine Olivia],[Philippines],2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,9.0,2011,0.000000,jueves
45376,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,[American World Pictures],[United States of America],2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,2003,0.000000,viernes
45377,NaN,0.0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,[Yermoliev],[Russia],1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,1917,0.000000,domingo
45378,NaN,0.0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,[],[United Kingdom],2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0,2017,0.000000,viernes

In [88]:
df.isna().sum()

belongs_to_collection    40888
budget                       3
genres                       0
id                           0
original_language           11
overview                   941
popularity                   2
production_companies         0
production_countries         0
release_date                 3
revenue                      0
runtime                    249
spoken_languages             3
status                      83
tagline                  24981
title                        3
vote_average                 3
release_year                 0
return                       0
day_of_week                  3
dtype: int64

In [127]:
solo_paises = extraer_datos(df_p, 'belongs_to_collection')
solo_paises

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,release_year,return,day_of_week
0,[Toy Story Collection],30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,1995,12.451801,lunes
1,None,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,1995,4.043035,viernes
2,[Grumpy Old Men Collection],0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,1995,0.000000,viernes
3,None,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,1995,5.090760,viernes
4,[Father of the Bride Collection],0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,1995,inf,viernes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45374,None,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,"Yet another version of the classic epic, with ...",5.683753,"[Westdeutscher Rundfunk (WDR), Working Title F...","[Canada, Germany, United Kingdom, United State...",1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,5.7,1991,0.000000,lunes
45375,None,0.0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,An artist struggles to finish his work while a...,0.178241,[Sine Olivia],[Philippines],2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,9.0,2011,0.000000,jueves
45376,None,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,[American World Pictures],[United States of America],2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,2003,0.000000,viernes
45377,None,0.0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,[Yermoliev],[Russia],1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,1917,0.000000,domingo
45378,None,0.0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,[],[United Kingdom],2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0,2017,0.000000,viernes

Funcion 3

In [145]:
def franquicia(franquicia):
    # Seleccionar todas las filas que pertenecen a la franquicia
    peliculas = df_p[df_p['belongs_to_collection'] == franquicia]

    # Calcular la cantidad de películas y la ganancia total
    cantidad = len(peliculas)
    ganancia_total = peliculas['revenue'].sum()

    # Calcular la ganancia promedio, verificando que haya al menos una película
    ganancia_promedio = peliculas['revenue'].mean() if cantidad > 0 else float('nan')

    # Retornar los resultados como un diccionario
    return {'franquicia': franquicia, 'cantidad': cantidad, 'ganancia_total': ganancia_total, 'ganancia_promedio': ganancia_promedio}

In [146]:
franquicia('Toy Story Collection')

{'franquicia': 'Toy Story Collection',
 'cantidad': 0,
 'ganancia_total': 0.0,
 'ganancia_promedio': nan}

Funcion 4

In [96]:
def peliculas_pais(pais):
    # Contar el número de películas que se hicieron en el país especificado
    num_peliculas = len(df[df['production_countries'].str.contains(pais)])
    
    # Crear un diccionario que contenga el país y el número de películas
    return {'pais': pais, 'cantidad': num_peliculas}

In [98]:
peliculas_pais('United Kingdom')

{'pais': 'United Kingdom', 'cantidad': 4091}

In [101]:
peliculas_pais('United States of America')

{'pais': 'United States of America', 'cantidad': 21147}

Funcion 5

In [105]:
def productoras(productora):
    df_filtrado = df[df['production_companies'].str.contains(productora, na=False)]
    ganancia_total = df_filtrado['revenue'].sum()
    cantidad = len(df_filtrado)
    return {'productora': productora, 'ganancia_total': ganancia_total, 'cantidad': cantidad}

In [108]:
productoras('Pixar Animation Studios')

{'productora': 'Pixar Animation Studios',
 'ganancia_total': 11188533734.0,
 'cantidad': 52}

Funcion 6

In [152]:
retorno('Queerama')

{'pelicula': 'Queerama',
 'inversion': 45378    0.0
 Name: budget, dtype: float64,
 'ganancia': 45378    0.0
 Name: revenue, dtype: float64,
 'retorno': 45378    0.0
 Name: return, dtype: float64,
 'anio': 45378    2017
 Name: release_year, dtype: int64}

In [153]:
def retorno(pelicula):
    # Filtro la información de la película en base a su título
    pelicula_info = df_p[df_p['title'] == pelicula].iloc[0]
    
    # Obtengo la inversión, ganancia, retorno y año de lanzamiento de la película
    inversion = pelicula_info['budget']
    ganancia = pelicula_info['revenue']
    retorno = pelicula_info['return']
    anio = pelicula_info['release_year']
    
    # Retorno la información en un diccionario
    return {'pelicula': pelicula, 'inversion': inversion, 'ganancia': ganancia, 'retorno': retorno, 'anio': anio}

In [156]:
retorno('Toy Story')

{'pelicula': 'Toy Story',
 'inversion': 30000000.0,
 'ganancia': 373554033.0,
 'retorno': 12.4518011,
 'anio': 1995}

In [157]:
def franquicia(franquicia):
    # Filtro la información de las películas en base a su franquicia
    franquicia_info = df_p[df_p['belongs_to_collection'] == franquicia]
    
    # Obtengo la cantidad de películas, ganancia total y ganancia promedio de la franquicia
    cantidad = franquicia_info.shape[0]
    ganancia_total = franquicia_info['revenue'].sum()
    ganancia_promedio = franquicia_info['revenue'].mean()
    
    # Retorno la información en un diccionario
    return {'franquicia': franquicia, 'cantidad': cantidad, 'ganancia_total': ganancia_total, 'ganancia_promedio': ganancia_promedio}

In [158]:
franquicia('Toy Story Collection')

{'franquicia': 'Toy Story Collection',
 'cantidad': 0,
 'ganancia_total': 0.0,
 'ganancia_promedio': nan}

In [165]:
def franquicia(franquicia):
    # Filtro la información de las películas de la franquicia en base a su nombre
    franquicia_info = df_p[df_p['belongs_to_collection'] == franquicia]
    
    # Obtengo la cantidad de películas, ganancia total y ganancia promedio de la franquicia
    cantidad = len(franquicia_info)
    ganancia_total = franquicia_info['revenue'].sum()
    ganancia_promedio = franquicia_info['revenue'].mean()
    
    # Retorno la información en un diccionario
    return {'franquicia': franquicia, 'cantidad': cantidad, 'ganancia_total': ganancia_total, 'ganancia_promedio': ganancia_promedio}

In [171]:
franquicia('Toy Story Collection')

{'franquicia': 'Toy Story Collection',
 'cantidad': 0,
 'ganancia_total': 0.0,
 'ganancia_promedio': nan}

In [203]:
def franquicia(franquicia):
    # Filtrar el DataFrame original para incluir solo filas con información sobre la franquicia
    franquicia_info = df_p[df_p['belongs_to_collection'].notna() & df_p['belongs_to_collection'].str.contains(franquicia)]
    
    # Obtener la cantidad de películas, la ganancia total y la ganancia promedio
    cantidad = len(franquicia_info)
    ganancia_total = franquicia_info['revenue'].sum()
    ganancia_promedio = franquicia_info['revenue'].mean()
    
    # Retornar la información en un diccionario
    return {'franquicia': franquicia, 'cantidad': cantidad, 'ganancia_total': ganancia_total, 'ganancia_promedio': ganancia_promedio}

In [204]:
franquicia('Father of the Bride Collection')

{'franquicia': 'Father of the Bride Collection',
 'cantidad': 0,
 'ganancia_total': 0.0,
 'ganancia_promedio': nan}

In [197]:
def franquicia(franquicia):
    ft = df_p["belongs_to_collection"][df_p["belongs_to_collection"].str.contains(franquicia)]
    gt = df_p["revenue"][df_p["belongs_to_collection"].str.contains(franquicia)]
    return {'franquicia':franquicia, 'cantidad': ft.count(), 'ganancia_total':gt.sum(), 'ganancia_promedio':gt.sum()/ft.count()}

In [194]:
df_p['belongs_to_collection']

0                  [Toy Story Collection]
1                                    None
2             [Grumpy Old Men Collection]
3                                    None
4        [Father of the Bride Collection]
                       ...
45374                                None
45375                                None
45376                                None
45377                                None
45378                                None
Name: belongs_to_collection, Length: 45379, dtype: object

In [193]:
franquicia('Father of the Bride Collection')

KeyError: "None of [Float64Index([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,\n              ...\n              nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],\n             dtype='float64', length=45379)] are in the [index]"

In [205]:
from sklearn.metrics.pairwise import cosine_similarity

def get_recommendation(titulo):
    # Obtener la fila correspondiente al título de la película
    idx = df_p[df_p['title'] == titulo].index[0]
    
    # Obtener la matriz de características
    features = df_p.iloc[:, 7:19]
    
    # Calcular la matriz de similitud de cosenos
    sim_matrix = cosine_similarity(features)
    
    # Obtener los puntajes de similaridad para la película de interés
    sim_scores = list(enumerate(sim_matrix[idx]))
    
    # Ordenar las películas según su puntaje de similaridad
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    # Obtener las 5 películas más similares como recomendaciones
    sim_scores = sim_scores[1:6]
    movie_indices = [i[0] for i in sim_scores]
    recommendation = df_p['title'].iloc[movie_indices].tolist()
    
    # Retornar la lista de recomendaciones
    return {'lista recomendada': recommendation}

In [206]:
get_recommendation('Toy Story')

ValueError: setting an array element with a sequence.

def franquicia(franquicia):
    ft = df_p["belongs_to_collection"][df_p["belongs_to_collection"].str.contains(franquicia)]
    gt = df_p["revenue"][df_p["belongs_to_collection"].str.contains(franquicia)]
    return {'franquicia':franquicia, 'cantidad': ft.count(), 'ganancia_total':gt.sum(), 'ganancia_promedio':gt.sum()/ft.count()}

In [8]:
df['genres']

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
                               ...
45374    [{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...
45375                        [{'id': 18, 'name': 'Drama'}]
45376    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45377                                                   []
45378                                                   []
Name: genres, Length: 45379, dtype: object